$blue-color :#3577f0;
$pink-color : #ff497c;
$purple-color : #8c71db;
$light-dark-color: #777777;
$light-color : #ffffff;
$dark-color: #1c1c1c;
$black-color: #000000;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
._container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}
body,
html{
    height: 100%;
    font-family: 'DM Sans',sans-serif;
}

header{
    background-color: $light-color;
    z-index: 99;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    padding: 1.2rem 0;
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav__logo{
            width: 100px;
            img{
                width: 100%;
            }
        }
        .nav__list{
            display: flex;
            justify-content: center;
            align-items: center;
            .nav__item{
                margin: 0 25px;
                .nav__link{
                    color: $dark-color;
                    font-weight: 400;
                }
            }
        }
        .nav__icons{
            display: flex;
            justify-content: center;
            align-items: center;
            .searchbar{
                margin-right: 50px;
                padding: 0.7rem 1.5rem;
                border-radius: 5px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                border: 1px solid #999;
                i{
                    color: $light-dark-color;
                    margin-right: 10px;
                }
                input{
                    background: transparent;
                    border: none;
                    outline: none;
                    font-family: inherit;
                }
            }
            .icons{
                a{
                    margin: 0 10px;
                    color: $light-dark-color;
                    i{
                        font-size: 22px;
                    }
                }
            }
        }
    }
}
main{
    .banner__section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-image: url('/dist/img/bg-image-4.jpeg');
        background-repeat: none;
        background-position: center;
        .banner__container{
            height: 87vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .banner__left{
                max-width: 45%;
                .icon__text{
                    i{
                        background-color: $pink-color;
                        color: $light-color;
                        padding: 0.5rem;
                        border-radius: 50%;
                    }
                    span{
                        color: $pink-color;
                        margin-left: 10px;
                    }
                }
                .banner__header{
                    margin-top: 16px;
                    h1{
                        font-size: 60px;
                        line-height: 70px;
                        letter-spacing: 0.5px;
                    }
                }
                .banner__btn{
                    margin-top: 20px;
                    button{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background-color: $light-color;
                        border: none;
                        outline: none;
                        color: $dark-color;
                        box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.10);
                        -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.10);
                        -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.10);
                        padding: 1rem 2rem;
                        border-radius: 5px;
                        font-size: 16px;
                        font-family: inherit;
                        font-weight: 500;
                        cursor: pointer;
                        i{
                            font-size: 24px;
                            margin-left: 5px;
                        }
                    }
                }
            }
            .banner__right{
                max-width: 50%;
                .banner__carousel{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .carousel__box{
                        margin: 0 5px;
                        width: 252px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        background-color: $light-color;
                        border-radius: 5px;
                        box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.10);
                        -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.10);
                        -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.10);
                        .carousel__img{
                            img{
                                width: 100%;
                                border-top-left-radius: 5px;
                                border-top-right-radius: 5px;
                            }
                        }
                        .carousel__about{
                            padding: 1rem 2rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            a{
                                color: $light-dark-color;
                            }
                            .price{
                                margin-top: 10px;
                                color: $dark-color;
                                font-size: 20px;
                            }
                            button{
                                background-color: $pink-color;
                                border: none;
                                outline: none;
                                color: $light-color;
                                padding: 0.8rem 1.5rem;
                                border-radius: 5px;
                                margin-top: 15px;
                                font-family: inherit;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }
    .category__section{
        margin-top: 80px;
        .category__container{
            .category__title{
                i{
                    background-color: $pink-color;
                    color: $light-color;
                    padding: 0.5rem;
                    border-radius: 50%;
                }
                .category{
                    color: $pink-color;
                    margin-left: 10px;
                }
            }
            .category__header{
                margin-top: 10px;
                h1{
                    font-size: 36px;
                    font-weight: 500;
                }
            }
            .category__carousel{
                width: 100%;
                margin-top: 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .category__box{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: $light-color;
                    padding: 1rem;
                    border: 2px solid #f6f6f6;
                    border-radius: 5px;
                    .category__img{
                        width: 134px;
                        height: 88px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                            border-radius: 3px;
                        }
                    }
                    .category__name{
                        margin-top: 15px;
                        h3{
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
    .seller__section{
        margin-top: 120px;
        .seller__container{
            .seller__title{
                i{
                    background-color: $purple-color;
                    color: $light-color;
                    padding: 0.5rem;
                    border-radius: 50%;
                }
                span{
                    color: $purple-color;
                    margin-left: 10px;
                }
            }
            .seller__header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-top: 10px;
                h1{
                    font-size: 36px;
                    font-weight: 500;
                }
                .seller__arrow{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .arrow__left{
                        background-color: #f6f6f6;
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 1rem;
                        margin-right: 10px;
                        i{
                            font-size: 22px;
                        }
                    }
                    .arrow__right{
                        background-color: #f6f6f6;
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 1rem;
                        i{
                            font-size: 22px;
                        }
                    }
                }
            }
            .seller__carousel{
                margin-top: 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .seller__box{
                    position: relative;
                    min-width: 285px;
                    background-color: $light-color;
                    border: 2px solid #f6f6f6;
                    margin: 0 15px;
                    overflow: hidden;
                    overflow-y: hidden;
                    &:hover{
                        img{
                            transform: scale(1.1);
                        }
                    }
                    .seller__top{
                        width: 100%;
                        img{
                            width: 100%;
                            object-fit: cover;
                            object-position: center;
                            transition: 500ms all ease-in-out;
                        }
                        .seller__price{
                            position: absolute;
                            bottom: 33%;
                            left: 73%;
                            background-color: #f6f6f6;
                            border-radius: 5px;
                            filter: blur(70%);
                            padding: 0.8rem 1rem;
                        }
                    }
                    .seller__bottom{
                        padding: 35px 30px 30px;
                        .seller__name{
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            h3{
                                font-size: 16px;
                                color: $light-dark-color;
                                font-weight: 400;
                            }
                            .seller__badge{
                                color: $blue-color;
                                margin-left: 5px;
                            }
                        }
                        .seller__btn{
                            margin-top: 10px;
                            button{
                                background-color: $light-color;
                                border: 2px solid #f6f6f6;
                                outline: none;
                                font-size: 14px;
                                font-weight: 700;
                                font-family: inherit;
                                padding: 10px 18px;
                                border-radius: 5px;
                            }

                        }
                    }
                }
                
            }
        }
    }
    .arrival__section{
        margin-top: 150px;
        .arrival__container{
            .arrival__title{
                i{
                    background-color: $purple-color;
                    color: $light-color;
                    padding: 0.5rem;
                    border-radius: 50%;
                }
                span{
                    color: $purple-color;
                    margin-left: 10px;
                }
            }
            .arrival__header{
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                h1{
                    font-size: 36px;
                    font-weight: 500;
                }
                .arrival__category{
                    .arrival__link{
                        margin: 0 20px;
                        color: $dark-color;
                        font-size: 16px;
                        font-weight: 500;
                        border-radius: 5px;
                        transition: 300ms all ease-in-out;
                        &:hover{
                            background-color: #f6f6f6;
                            transition: 300ms all ease-in-out;
                            padding: 0.7rem 1.4rem;
                        }
                    }
                }
                .arrival__product{
                    margin-top: 20px;
                    .arrival__box{
                        width: 20%;
                        .arrival__top{
                            width: 100%;
                        }
                        .arrival__bottom{
                            margin-top: 20px;
                            width: 100%;
                            .arrival__seller__name{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }
    }
}