$blue-color :#3577f0;
$pink-color : #ff497c;
$purple-color : #8c71db;
$light-dark-color: #777777;
$light-color : #ffffff;
$dark-color: #1c1c1c;
$black-color: #000000;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
._container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}
body,
html{
    height: 100%;
    font-family: 'DM Sans',sans-serif;
}

header{
    background-color: $light-color;
    z-index: 99;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    padding: 2rem 0;
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav__logo{
            width: 100px;
            img{
                width: 100%;
            }
        }
        .nav__list{
            display: flex;
            justify-content: center;
            align-items: center;
            .nav__item{
                margin: 0 25px;
                .nav__link{
                    color: $dark-color;
                    font-weight: 400;
                }
            }
        }
        .nav__icons{
            display: flex;
            justify-content: center;
            align-items: center;
            .searchbar{
                margin-right: 50px;
                padding: 0.7rem 1.5rem;
                border-radius: 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 1px solid #999;
                i{
                    color: $light-dark-color;
                    margin-right: 10px;
                }
                input{
                    background: transparent;
                    border: none;
                    outline: none;
                    font-family: inherit;
                }
            }
            .icons{
                a{
                    margin: 0 10px;
                    color: $light-dark-color;
                    i{
                        font-size: 22px;
                    }
                }
            }
        }
    }
}
main{
    .banner__section{
        height: 80vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .banner__container{
            .banner__left{
                max-width: 45%;
                .icon__text{
                    i{
                        background-color: $pink-color;
                        color: $light-color;
                        padding: 0.5rem;
                        border-radius: 50%;
                    }
                    span{
                        color: $pink-color;
                        margin-left: 10px;
                    }
                }
                .banner__header{
                    margin-top: 16px;
                    h1{
                        font-size: 60px;
                        line-height: 70px;
                        letter-spacing: 0.5px;
                    }
                }
                .banner__btn{
                    margin-top: 20px;
                    button{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background-color: $light-color;
                        border: none;
                        outline: none;
                        color: $dark-color;
                        box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.10);
                        -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.10);
                        -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.10);
                        padding: 1rem 2rem;
                        border-radius: 5px;
                        font-size: 16px;
                        font-family: inherit;
                        font-weight: 500;
                        cursor: pointer;
                        i{
                            font-size: 24px;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
}